@import './base.css';

.box {
  display: flex;
  align-items: center;
}

.loader8 {
  font-size: 28px;
  font-weight: bold;
  animation: loader8-animation 2s infinite linear;
  background: linear-gradient(90deg, #5d3fd3 50%, #0000 0) right/200% 100%;
}

.loader8::before {
  content: 'Loading...';
  padding: 0 5px;
  color: #0000;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fff 50%, #000 0);
}

@keyframes loader8-animation {
  100% {
    background-position: left;
  }
}
